* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Roboto', sans-serif;
    --font-alt: 'Poppins', sans-serif;
    --white: #fff;
    --black: #000;
    --aqua_300: #35E6E9;
    --red_300: #FF5678;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

input, button, textarea {
    font-family: var(--font-alt);
}

main {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 100vh;
}

.stage-01 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation: leftAnimation 1.5s;
}

.stage-01 h1 {
    font-weight: 500;
    font-size: 64px
}

.stage-01 h1 span {
    color: var(--red_300);
}

.stage-02 {
    font-family: var(--font-alt);
    
    width: 100%;
    max-width: 37.6875rem;

    display: flex;
    flex-direction: column;
    gap: 40px;

    border: 2px solid #ccc;
    border-radius: 6px;

    padding: 2.4375rem 3.3125rem;

    animation: rightAnimation 1.5s;
}

.stage-02 h2 {
    font-family: var(--font);
    font-weight: 500;
}

.stage-02 span {
    color: var(--red_300);
}

.stage-02 .register-entities {
    background-color: var(--aqua_300);
    color: var(--white);

    text-decoration: none;

    border: 0;
    border-radius: 8px;

    padding: 0.5625rem 0;

    font-size: 14px;

    cursor: pointer;

    transition: 0.2s;
}

.stage-02 .register-entities:hover {
    filter: brightness(0.9);
}

.stage-02 .show-entities {
    background-color: var(--red_300);
    color: var(--white);

    text-decoration: none;

    border: 0;
    border-radius: 8px;

    padding: 0.5625rem 0;

    font-size: 14px;

    cursor: pointer;

    transition: 0.2s;
}

.stage-02 .show-entities:hover {
    filter: brightness(0.9);
}

.stage-02 p {
    font-size: 0.875rem;
    margin-bottom: -2.25rem;
}

.stage-02 a {
    text-align: center;
    font-size: 1.125rem;

    color: var(--black);

    transition: 0.2s;
}

.stage-02 a:hover {
    filter: opacity(0.4);
}

@keyframes leftAnimation {
    0% {
        opacity: 0;
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
    }
}

@keyframes rightAnimation {
    0% {
        opacity: 0;
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        justify-content: center;
        gap: 40px;
    }

    .stage-01 img {
        width: 50%;
    }

    .stage-01 h1 {
        font-size: 2.625rem;
        text-align: center;
    }

    .stage-02 {
        border: none;
        gap: 20px;
    }

    .stage-02 h2 {
        font-size: 1.375rem;
        text-align: center;
        margin-top: -2.5rem;
    }

    .stage-02 p {
        text-align: center;
    }

    .stage-02 .register {
        font-size: 1rem;

        margin-top: 3.125rem;
    }
}